[submodule "cosmos-sdk"]
	path = cosmos-sdk
	url = https://github.com/osmosis-labs/cosmos-sdk.git
	branch = osmosis-main
	shallow = true
	ignore = all

[submodule "ibc-go"]
	path = ibc-go
	url = https://github.com/osmosis-labs/ibc-go.git
	branch = v2.0.2-osmo
	shallow = true
	ignore = all

[submodule "osmosis"]
	path = osmosis
	url = https://github.com/osmosis-labs/osmosis.git
	branch = v14.0.1
	shallow = true
	ignore = all

[submodule "wasmd"]
	path = wasmd
	url = https://github.com/CosmWasm/wasmd.git
	branch = v0.30.0
	shallow = true
	ignore = all
